listing 
obj
Debug 
Release 
Template 
*_LinkSymTab.txt 
*.SymTable 
*_ITree.txt 
*_SymTab.txt 
*_SyntaxTree.txt 
M1.bat 
*_defines.h 
*_struct.h 
*_idata.[ch] 
*_ana.html 
*_or.html 
*_ro.html 
*_scm.[ch] 
*.eao 
*.INB 
*.zip 
*.Trace 
*.coffmap 
*..coffmap 
*.elfmap 
*.HLP 
*.GID 
*.map 
*.tds 
*.set 
*.dld 
*.asc 
*.pdf 
*.ppt 
*.htm 
*AutoAsm.h 
*AutoLink.h 
*.AsmReport 
*.LinkReport 
*.to 
*.gxs 
*.report 
*.Report 
*.log
*.err 
*_CPU.H 
*.CPPoutput 
*.coff 
*auto.h 
*.cod 
*.lst 
*.LST 
*.elf 
*_CPU.E 
*.abs 
*.aout 
*.SmDebug  
*_listing.dfi 
TB.bat 
TestBed.result
Sim.log 
Master.log
TestBed.result 
*_John.AshEnv 
*_andy.AshEnv 
*_Andy.AshEnv 
Sim.Log 
*.rep 
*.spi 
*_code_ram.[ch] 
*_data_ram.[ch]
*_listing.dfi 
*.bin 
*.hex 
*.Spd816SmFixup 
Spi816Tb.bat
*_smc.def
*.GtmAsmLog 
*.TestBedGtm
*.McsLog
.vs 
*.vcxproj.user
*.andy.user 
*.Andy.user
*.John.user
*.AwDbg 
*.AwAsm 
*.AwHex
*.CPPoutput_script 
*.CPPoutput_cc 
OutputWindowDump.Log 
*.TtmCmdGtm 
*.TtmLogGtm
*_mcs_ram.[ch] 
*_ashware.dump 
*_bosch.dump 
*_auto.mcs 
*_auto.c
